*{
    margin:0px;
    padding: 0px;
}
/** page component **/
.page{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    grid-template-areas: 
        "menu logo logo login"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
}
/** menu component **/
.menu{
    grid-area: menu;
    background: rgba(41,45,62);
}
.menu p{
    text-align: center;
    color: rgba(220,127,70);
    font-size: 2rem;
    margin-top: 25px;
    margin-left: 25px;
}
/** logo component **/
.logo{
    grid-area: logo;
    background:rgb(41,45,62);
    display:flex;
    justify-content: center;
    align-items: center;
}
.logo-image{
    border-radius: 50%;
    overflow: hidden;
    height: 75px;
    width: 75px;
    margin-top: 10px;
}
.logo-image img{
    max-width: 100%;
    max-height: 100%;
}
/** login component **/
.login{
    grid-area: login;
    background:rgba(41,45,62);
}
.login p{
    text-align: center;
    color: rgba(220,127,70);
    font-size: 2rem;
    margin-top: 25px;
    margin-right: 25px;
}
/** nav component **/
nav{
    grid-area: nav;
    background:rgba(41,45,62);
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
}
nav ul{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    
}
nav ul li{
    list-style: none;
    margin: 5px;
    padding: 10px;
    text-align: center;
    font-size: 2rem;
}
nav ul a:link{
    color: rgba(220,127,70);
    }
nav ul a:visited{
    color: rgba(220,127,70);
    }
nav ul a:hover{
    color: rgba(104,96,175, 0.9);
    }
/** main component **/
main{
    grid-area: main;
    background: cadetblue;
}
/** footer component **/
footer{
    grid-area: footer;
    background: yellow;
}



