header{
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 3fr 3fr 1fr;
    grid-template-rows: 1fr 1fr 9fr 1fr;
    grid-template-areas: 
        "menu logo logo login"
        "nav nav nav nav"
        "sidebar main main main"
        "footer footer footer footer";
}
.logo{
    grid-area: logo;
    background: blue;
}
.menu{
    grid-area: menu;
    background: red;
}
.login{
    grid-area: login;
    background: green;
}
nav{
    grid-area: nav;
    background: pink;
}
main{
    grid-area: main;
    background: cadetblue;
}
aside{
    grid-area: sidebar;
    background: yellowgreen;
}
footer{
    grid-area: footer;
    background: yellow;
}



