:root {
    --primary-color: rgba(41, 45, 62, 0.75);
    --secondary-color: rgba(104, 96, 175, 0.6);
    --overlay-color: rgba(31, 15, 75, 0.6);
    --menu-speed: 0.9s;
}

*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
    background:rgb(41, 45, 62);
}

body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.4;
}

.page {
    height: 100vh;
    display: grid;
    grid-template-columns: 1.5fr 3fr 3fr 1fr;
    grid-template-rows: 0.6fr 0.6fr 9fr 1fr;
    grid-template-areas: 
        "menu logo logo login"
        "nav nav nav nav"
        "main main main main"
        "footer footer footer footer";
}

/** logo component **/
.logo {
    grid-area: logo;
    background:rgba(41, 45, 62);
    display:flex;
    justify-content: center;
    align-items: center;
}

.logo-image {
    border-radius: 50%;
    overflow: hidden;
    height: 60px;
    width: 60px;
    margin-top: 10px;
}
.logo-image img {
    max-width: 100%;
    max-height: 100%;
}

/** login component **/
.login {
    grid-area: login;
    background:rgba(41, 45, 62);
}

.login p {
    text-align: center;
    color: var(--secondary-color);
    font-size: 2rem;
    margin-top: 25px;
    margin-right: 20px;
}

/** nav component **/
nav {
    grid-area: nav;
    background:rgba(41, 45, 62);
    display: flex; 
    align-items: center; 
    justify-content: space-evenly;
}

nav ul {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: stretch;
    align-items: stretch;
    
}

nav ul li {
    list-style: none;
    margin-top: 8px;
    padding: 12px;
    text-align: center;
    font-size: 1.8rem;
}

.html a:link {
    color: rgba(227, 76, 38);
}

.html a:visited {
    color: rgba(227, 76, 38);
}

.html a:hover {
    color: rgba(var(--secondary-color));
}

.css a:link {
    color: rgba(2, 119, 189);
}

.css a:visited {
    color: rgba(2, 119, 189);
}

.css a:hover {
    color: rgba(var(--secondary-color));
}

.php a:link {
    color: rgba(120, 125, 176);
}

.php a:visited {
    color: rgba(120, 125, 176);
}

.php a:hover {
    color: rgba(var(--secondary-color));
}

.sql a:link {
    color: rgba(248, 152, 29);
}

.sql a:visited {
    color: rgba(248, 152, 29);
}

.sql a:hover {
    color: rgba(var(--secondary-color));
}

.misc a:link {
    color: rgba(164, 173, 233);
}

.misc a:visited { 
    color: rgba(164, 173, 233);
}

.misc a:hover {
    color: rgba(var(--secondary-color));
}

.pixdeo a:link {
    color: rgba(255, 183, 1);
}

.pixdeo a:visited {
    color: rgba(255, 183, 1);
}

.pixdeo a:hover {
    color: rgba(var(--secondary-color));
}

.contact a:link {
    color: rgba(162, 14, 29, 0.8);
}

.contact a:visited {
    color: rgba(162, 14, 29, 0.8);
}

.contact a:hover {
    color: rgba(var(--secondary-color));
}

/** main component **/
main {
    grid-area: main;
    background:rgba(41, 45, 62);
}

article {
    margin: 10px;
    padding: 10px;
    background: rgba(130, 137, 185);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article h2 { 
    background: inherit;
    padding: 10px;
    font-size: 2rem;
    color: rgba(41, 45, 62);
    text-align: center;
}

.article-date {
    align-self: flex-end;
    width: fit-content;
    margin: 10px;
    padding: 10px;
    background: inherit;
    border-radius: 20px;
    font-size: 0.8rem;
    text-align: center;
    color: rgba(41, 45, 62, 0.5);
}

.article-date .fa-calendar-alt { 
    background: inherit;
}

article img {
    width: 50px;
    height:50px;
    margin-right: 20px;
    border-radius: 15px;
}

article p {
    background: inherit;
    text-align: justify;
}

/** footer component **/
footer {
    grid-area: footer;
    display: flex;
    margin-top: 10px;
    background:rgba(41, 45, 62);
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
}

footer a:link {
    color: rgba(220, 127, 70);
}

footer a:visited {
    color: rgba(220, 127, 70);
}

footer a:hover {
    color: rgba(var(--secondary-color));
}

.footer-left {
    margin-bottom: 30px;
    margin-left: 15px;
    font-size: 1.5rem;
    flex-grow: 1;
}

.footer-left p {
    text-align: center;
}

.footer-left a:link {
    color: rgba(104, 96, 175, 0.6);
    }

.footer-left a:visited {
    color: rgba(104, 96, 175, 0.6);
}

.footer-left a:hover {
    color: rgba(var(--secondary-color));
}

.footer-middle {
    margin-bottom: 25px;
    flex-grow: 1;
    font-size: 0.8rem;
    text-align: right;
    color: var(--secondary-color);
}

.footer-right {
    margin-bottom: 30px;
    margin-right: 15px;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    font-size: 1.5rem;
}

.social-linkedin {
    margin-right: 10px;
    color: rgba(0, 115, 176);
}

.social-linkedin a:link {
    color: rgba(0, 115, 176);
}

.social-linkedin a:visited {
    color: rgba(0, 115, 176);
}

.social-linkedin a:hover {
    color: rgba(var(--secondary-color));
}

.social-github {
    margin-right: 10px;
    color: rgba(242, 241, 241);
}

.social-github a:link {
    color: rgba(242, 241, 241);
}

.social-github a:visited {
    color: rgba(242, 241, 241);
}

.social-github a:hover {
    color: rgba(var(--secondary-color));
}

.social-twitter {
    margin-right: 10px;
    color: rgba(94, 170, 222);
}

.social-twitter a:link {
    color: rgba(94, 170, 222);
}

.social-twitter a:visited {
    color: rgba(94, 170, 222);
}

.social-twitter a:hover {
    color: rgba(var(--secondary-color));
}

.social-facebook {
    margin-right: 10px;
    color: rgba(66, 103, 178);
}

.social-facebook a:link {
    color: rgba(66, 103, 178);
}

.social-facebook a:visited {
    color: rgba(66, 103, 178);
}

.social-facebook a:hover {
    color: rgba(var(--secondary-color));
}



